@forward 'colors';
@use 'colors' as *;
@use 'medias';


.container{
    text-align: center;
    margin: 0 auto;
    @include medias.for-desktop-up {   
        display: flex;
        justify-content: center;
        padding: auto 200px;
        max-width: 2000px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: initial;
     }
    .foto{
        background-image: url('../img/foto.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 2px solid $colorOpcional;
        width: 180px;
        height: 180px;
        margin: 10px auto;
        @include medias.for-desktop-up {   
            background-image: url('../img/foto_sin_fondo.png');
            border-radius: 0;
            border: none;
            width: 600px;
            height: 600px;
            margin: auto;
            margin-left: 50px;
         }
    }
    .presentacion {
        @include medias.for-desktop-up {   
            margin: auto;
            max-width: 900px;
         }
    }
    h1 {
        color: $colorSecundario;
        font-size: 2.5rem;
        font-weight: 700;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        @include medias.for-desktop-up {   
           font-size: 2.8rem;
           margin: 0;
           text-align: initial;
           margin-bottom: 15px;
         }
    }
    h2{
        color: $colorTextoPrimario;
        font-size: 2rem;
        font-weight: 700;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        @include medias.for-desktop-up {   
            font-size: 2.2rem;
            margin: 0;
            text-align: initial;
            margin-bottom: 15px;
          }
    }
    p{
        color: $colorTextoPrimario;
        font-weight: 300;
        font-size: 1.6rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        @include medias.for-desktop-up {   
            font-size: 1.9rem;
            margin: 0;
            text-align: initial;
            line-height: 1.8;
          }
    }
    .button{
        color: $colorTextoPrimario;
        padding: 10px;
        background-color: $colorPrimario;
        border: 1px solid $colorSecundario;
        border-radius: 20px;
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 20px;
        width: 80%;
        height: 40px;
        cursor: pointer;
        @include medias.for-desktop-up {   
            width: 300px;
          }
    }
    .menuright {
        display: none;
        @include medias.for-desktop-up {   
            display: block;
            position: fixed;
            left: 100%;
            top: 50%;
            transform: translate(-150%,-50%);
            overflow:hidden;
          }
    }
    .menuright__button {
        width: 50px;
        height: 50px;
        background-color: $colorOpcional;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        list-style: none;
        margin-top: 15px;
        font-size: 3rem;
    }
    .menuright__button:hover {
        background-color: $colorSecundario;
        transform: scale(.9);
        transition-duration: .3s;
     }
     
     .menuright__button--activo {
         background-color: $colorSecundario;
     }
     
     .menuright__button i {
         color: $colorTerneario;
         width: 50px;
     }
}

