//Declaracion de colores
$colorPrimario: #01334C;
$colorSecundario: #FFFFFF;
$colorTerneario: #0F0F0F;
$colorCuaternario: #F9F9F9;

$colorOpcional: #b3b3b3;
//color texto
$colorTextoPrimario: #FFFFFF;
