//Declaracion de colores
$colorPrimario: #221767;
$colorSecundario: #FFB550;
$colorTerneario: #FFFFFF;
$colorCuaternario: #000000;
$colorOpcional: #b3b3b3;
//color texto
$colorTextoPrimario: #FFFFFF;
